@{
    ViewBag.Title = "Kutse";
}

    <div>
        <p> @ViewBag.Greeting , Kallis sõber! </p>
    </div>
    <div>
        @ViewBag.Message
        <img src="~/Images/sendi.jpg" />
    </div>
    <div>
        @Html.ActionLink("Ava vorm","Form")
    </div>
